.app-loading{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
  color: red;
}
.refresh{
  text-decoration: underline !important;
  text-transform: lowercase !important;
  color: red !important;
}
.app-span{
  margin: 0px 7px;
}
.search{
  padding: 1rem;
}
.search__label{
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 1rem;
}
.filter{
  padding: 1rem;
}
.navbtn{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
